{% extends "base.html" %}

{% block main %}

    {% if validlink %}
        <p>Пожалуйста введите новый пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтвердите пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Сменить пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Сброс пароля не успешен.</h1>
        <p>Ссылка на сброс пароля не действительна.</p>
    {% endif %}

{% endblock %}