{% for job in act_book_jobs %}
<input type="hidden" name="act_book_job_id" value="{{ job.id}}" />
<div>
    <b>Наименование работ:</b> <i>{{ job.name}}</i>
</div>

<div>Результат:
    {% include "pipe/act_result.html" with result_list=result_list%}
</div>

<div>Описание:
    <textarea class="form-control" name="description" rows="4" cols="200"></textarea><br>
</div>

<div>Принятые меры:
    <textarea class="form-control" name="fix" rows="4" cols="200"></textarea><br>
</div>

{% endfor %}
