 <div class="row">
    <div class="col-sm">
      <select id="select" class="form-control" name="result">
        <option selected disabled>Выберите результат:</option>
          {% for result  in result_list %}

          <option   value='{{ result.0 }}'>{{ result.1 }}</option>
          {% endfor %}>
        </select>
    </div>

  </div>
