{% extends  "base.html" %}

{% block title %}
Создание нового акта
{% endblock %}

{% block main %}

<br>

<div class="container">
    <div class="row">
	<!-- act  -->
	<div class="col-6">
	    <form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<div id="act_job_block" >
		</div>
		<input type="submit"  class="btn btn-outline-primary">
	    </form>
	</div>

	<div class="col">

	</div>
    </div>
</div>


</div>




{% endblock %}




{% block extra_js %}



$( document ).ready(function() {

$( "#id_act_book" ).change(function() {
act_book_id = $(this).val();
if (confirm('Загрузить другой шаблон?')){
$( "#act_job_block").load('/act/job/' + act_book_id + '/');
};
});

});


{% endblock %}


<p></p>
<p></p>
