{% extends  "base.html" %}

{% block title %}
Программа мониторинга и экслпуатации трубопроводов работающих под избыточным давлением.
{% endblock %}

{% block main %}


<p></p>
<p></p>




{% endblock %}


{% block extra_js %}

{% endblock %}
